{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

{% style %}
.header-toolbar-wrapper {
  background-color: {{ section.settings.background_color }};
  color: {{ section.settings.text_color }};
  padding: 2px 0;
  width: 100%;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.header-toolbar-center {
  flex: 1;
  text-align: center;
  padding-left: 190px;
}

.header-toolbar-center a {
  color: {{ section.settings.text_color }};
  font-size: 12px;
  text-decoration: none;
}

.header-toolbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header-toolbar-right .icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width:1023px) {
  /* .alh-small--hide {
    display: none;
  } */
  .header-toolbar-wrapper .toolbar__item, .header-toolbar-wrapper .header-toolbar-right {
    display: none;
  }
  .header-toolbar-center {
    padding: 6px 0;
  }
}
{% endstyle %}

<div class="toolbar{% if overlay_header%} toolbar--transparent{% endif %} alh-small--hide header-toolbar-wrapper">
  <div class="page-width">
    <div class="toolbar__content">
      {% comment %} {%- if section.settings.toolbar_menu != blank -%}
        <div class="toolbar__item toolbar__item--menu">
          <ul class="inline-list toolbar__menu">
          {%- for link in toolbar_menu.links -%}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if section.settings.toolbar_social -%}
        <div class="toolbar__item">
          {% render 'social-icons', additional_classes: 'inline-list toolbar__social' %}
        </div>
      {%- endif -%} {% endcomment %}

      {%- if show_selectors -%}
        <div class="toolbar__item">
          {%- render 'multi-selectors',
            locale_selector: locale_selector,
            currency_selector: currency_selector,
            show_currency_flags: section.settings.show_currency_flags
            location: 'toolbar'
          -%}
        </div>
      {%- endif -%}

      <div class="header-toolbar-center">
        <a href="{{ section.settings.center_link }}">{{ section.settings.center_text }}</a>
      </div>
      <div class="header-toolbar-right">
        <a href="mailto:{{ section.settings.email }}" class="icon-text" style="text-decoration: none; color: inherit;">
          <img src="{{ 'EnvelopeSimple.svg' | asset_url }}" alt="Email icon" height="20" width="20">
          <span>{{ section.settings.email }}</span>
        </a>
        <a href="tel:{{ section.settings.phone | remove: ' ' }}" class="icon-text" style="text-decoration: none; color: inherit;">
          <img src="{{ 'Phone.svg' | asset_url }}" alt="Phone icon" height="20" width="20">
          <span>{{ section.settings.phone }}</span>
        </a>
      </div>


    </div>

  </div>
</div>
